/* latin-ext */
@font-face {
  font-family: "Smooch Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/smoochsans/v4/c4mz1n5uGsXss2LJh1QH6b129FZvxPj6I4oiQUBYf6gfBlw.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Smooch Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/smoochsans/v4/c4mz1n5uGsXss2LJh1QH6b129FZvxPj6I4oiQUBYcagf.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  padding: 0;
  margin: 2rem;
  font: 14px Arial;
  --color: #555;
  --heading-color: #333;
  --btn-bg-color: #3f0f99;
  --btn-color: rgb(255 255 255 / 70%);
  --body-bg: #f6f6f6;
  color: var(--color, #555);
  /* background-color: var(--body-bg, #f6f6f6); */
  background: linear-gradient(#f6f6f6, #E7E5DF);
}

li {
  list-style-type: none;
}

.wrapper {
  /* background: white; */
  padding: 12px;
  width: auto;
  float: left;
}
#navigation-bar {
  float: right;
}
#navigation-bar li {
  background-color: white;
  font-family: "Smooch Sans", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: right;
  width: auto;
  padding: 4px;
}
#navigation-bar li:hover {
  background-color: #f6f6f6;
}
#form111 {
  background: white;
  /* background: linear-gradient(#f05fa6, #ed1654); */
  padding: 12px;
  width: min-content;
  margin-top: 20px;
  margin-left: -12px;
  float: left;
}
#directive {
  width: auto;
  float: inherit;
}
#directive div {
  background-color: white;
  width: auto;
  margin: 20px !important;
  float: left;
  padding: 4px;
  transition: all .25s ease;
}
#directive div:hover {
  background-color: white;
  border-radius: 36px;
  transition: all .25s ease;
}
#directive ul li {
  background-color: #f6f4f0;
}
.title {
  background: white;
  padding: 12px 12px 0px 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: fit-content;
}
#drawArea > #drawBox {
  /* background: #CAD1EA; */
  background: #C8D6EB;
  width: 148px;
  height: 148px;
}
.formHeader {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.smallText {
  margin-top: 6px;
  font-size: 0.85em;
}

main { position: relative; }
footer { display: flex; justify-content: space-between; }

h1, h2, h3, h4, h5, h6, .subHeader {
  font-family: "Smooch Sans", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6,
b, strong, .subHeader {
  color: var(--heading-color, #333);
}
h1 > a {
  color: inherit;
  text-decoration: none;
}
.slimLabel {
  margin-top: 2px;
  margin-bottom: 2px;
}
#submit {
  background-color: #f6f4f0;
  padding: 8px;
}
button {
  background-color: #f6f4f0;
}
button:hover, #submit:hover {
  color: gray;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
ul {
  padding: 0 0 0 1.5rem;
  list-style: circle;
}

/* Small */
.small .react-colorful {
  width: 148px;
  height: 148px;
}
.small .react-colorful__hue {
  height: 20px;
}

.hidden {
  display: none;
}

/* Shapes */
line, polyline {
  stroke: #3B4752;
  stroke-width: 1;
}
circle {
  fill: none;
  stroke: #3B4752;
  stroke-width: 1;
}
#radius1 {
  stroke: #FD4A5C;
}
#radius2 {
  stroke: #00B2E3;
}
#square1 {
  stroke: #00C08B;
  fill: none;
  transform-origin: center !important;
}
.dot {
  fill: #3B4752;
}
#guide {
  stroke: #C028B9;
  stroke-width: 2;
}
.dot-purple {
  fill: #7A2682;
}
/*
#4D008C
#655DC6
#7A2682
*/

/* .color-picker,
color-picker { margin: .5rem 0; } */

label > h4 {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  body {margin: 5rem;}
  .color-picker,
  color-picker,
  label,
  p {
    margin: .5rem 0;
  }
}
label {display: block;}

.mb-1 { margin-bottom: .25rem; }
.mb-2 { margin-bottom: .5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }

code {
  font-size: .875em;
  color: #d63384;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .color-picker + ul,
  color-picker + ul {
    opacity: 0;
    transition: opacity ease .33s;
  }
  .col:hover .color-picker + ul,
  .col:hover color-picker + ul {
    opacity: 1;
  }
}

.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-.5 * var(--gutter-x));
  margin-left: calc(-.5 * var(--gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * .5);
  padding-left: calc(var(--gutter-x) * .5);
  margin-top: var(--gutter-y);
}


a { color: var(--btn-bg-color); }

.switch {
  position: absolute;
  top: 0;
  right: 0;
}
.switch, .add {
  width: auto !important;
  height: auto !important;
  color: var(--btn-color, #eee);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--btn-bg-color, #777);
}

.add:hover,
.add:focus,
.switch:hover,
.switch:focus {
  color: #eee;
  background: #333;
}

[dir=rtl] .switch {
  right: auto; left: 0;
}

@media (min-width: 768px) {
  .row { max-width: inherit; }
  .col { flex: 1 0 0%; }
  .col.col-md-3 { width: 25%; }
  .col.col-md-4 { width: 33.332%; }
  .col.col-md-6 { width: 50%; }
  .col.col-md-8 { width: 66.667%; }
  .col.col-md-3,
  .col.col-md-4,
  .col.col-md-6,
  .col.col-md-8 { flex: 0 0 auto; }
  .switch { right: 0; }
  [dir=rtl] .switch {
    right: auto; left: 0;
  }
}
